node_modules
# The lockfile should be committed
# to ensure reproducible installs
# across CI and local setups.
# See https://pnpm.io/lockfile
#
# Remove this line if present:
#pnpm-lock.yaml
.DS_Store
packages/*/dist

# Environment files
.env
